<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/base/home.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script type="text/javascript">
        $(".leftsidebar_box dt").css({ "background-color": "#3992d0" });
        $(".leftsidebar_box dt img").attr("src", "/images/left/select_xl01.png");
        $(function () {
            $(".leftsidebar_box dd").hide();
            $(".leftsidebar_box dt").click(function () {
                $(".leftsidebar_box dt").css({ "background-color": "#3992d0" })
                $(this).css({ "background-color": "#317eb4" });
                $(this).parent().find('dd').removeClass("menu_chioce");
                $(".leftsidebar_box dt img").attr("src", "/images/left/select_xl01.png");
                $(this).parent().find('img').attr("src", "/images/left/select_xl.png");
                $(".menu_chioce").slideUp();
                $(this).parent().find('dd').slideToggle();
                $(this).parent().find('dd').addClass("menu_chioce");
            });
        })

        angular.module('menuApp', []).controller('menuController', function ($scope, $http) {
            $http.post('/Account/AnjularPostData')
                        .success(function (msg) {
                            $scope.GridSources = msg
                        });

        });
    </script>
</head>
<body>
    <div class="container">
        <div class="topsidebar-box">
            @RenderPage("_LoginPartial.cshtml")
        </div>
        <div class="leftsidebar_box" ng-app="menuApp" ng-controller="menuController">
            <div class="line"></div>
            @*@RenderPage("~/Views/SysMenu/SysMenu.cshtml");*@
            @*@string url = "/Images/icon-app/" + item.ImageUrl;*@
            <dl class="system_log" ng-repeat="item in GridSources">
                <dt onclick="changeImage()" style='background-image: url("");'>{{item.Name}}<img src="/images/left/select_xl01.png"></dt>
                <dd ng-repeat="child in item.ChildList"><a href="{{child.NavUrl}}">{{child.Name}}</a></dd>
            </dl>
        </div>
        <div class="rightsidebar-box">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>

</html>
