<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/base/home.css" rel="stylesheet" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="nav">
            <ul>
                <li>
                    <a href="#">菜单选项一</a>
                    <div class="menu">
                        <p><a href="#">二级菜单1</a></p>
                        <p><a href="#">二级菜单2</a></p>
                        <p><a href="#">二级菜单3</a></p>
                        <p><a href="#">二级菜单4</a></p>
                    </div>
                </li>
                <li>
                    <a href="#">菜单选项二</a>
                    <div class="menu">
                        <p><a href="#">二级菜单1</a></p>
                        <p><a href="#">二级菜单2</a></p>
                        <p><a href="#">二级菜单3</a></p>
                        <p><a href="#">二级菜单4</a></p>
                    </div>
                </li>
                <li><a href="#">菜单选项三</a></li>
                <li><a href="#">菜单选项四</a></li>
                <li><a href="#">菜单选项五</a></li>
                <li><a href="#">菜单选项六</a></li>
            </ul>
        </div>
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
